@font-face {
    font-family: "norse-bold";
    src: url("Norse-Bold.otf");
    font-weight: normal;
    font-style: normal;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


body {
    display: flex;
    margin: 0;
}


/*correctly adjusting leaf picture*/
/*.sidebar > img{
    height: 100vh;
    width: auto;
}*/

/*Allows for sidebar to have the logo go over. 
And to give it proper width against the form*/
.sidebar{
    position: relative;
    width: 35vw;
    background: url("background-image.jpg") no-repeat center center;
    background-size: 100% 100%;
}

.logo{
    position: absolute;
    top: 30%;
    right: 0;
    left: 0;
    margin: 0;
    background: black;
    opacity: 0.6;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 135px;
}

.logo > img {
    height: 100px;
}

.odin-text{
    font-family: "norse-bold";
    font-size: 75px;
}



#form_body{
    border: 0.05rem solid black;
    margin: 0;
    height: 100vh;
    width: 65vw;
    background-color: #F9FAFB;
}

.top-text {
    height: 100px;
    width: 40vw;
    margin: 100px 30px 30px;
    text-align: start;
    font-weight: 600;
}





input, label{
    display: block;
}

input {
    border: 2px solid #e5e7eb;
    border-radius: 5px;
    padding: 5px;
    width: 225px;
    margin: 3px 70px 20px 20px;
}

button {
    background-color: #596D48;
    border-radius: 5px;
    border: none;
    padding: 14px 44px;
    color: white;
    margin: 30px;
    font-weight: bold;
    font-size: medium;
}

.input-color {
    background-color: #FFFFFF;
    padding: 20px 30px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.input-color h3 {
    margin-top: 15px;
    margin-bottom: 20px;
}

.input-divs {
    float: left;
}

a {
    color: #596D48;
    text-decoration: none;
}

.bottom-text {
    height: 100px;
    width: auto;
    margin: 5px 30px 30px;
    text-align: start;
}
