@font-face {
    font-family: "norse-bold";
    src: url("Norse-Bold.otf");
    font-weight: normal;
    font-style: normal;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


body {
    height: 100vh;
    display: flex;
    margin: 0;
}




/*
Allows for sidebar to have the logo go over. 
And to give it proper width against the form
*/
.sidebar{
    position: relative;
    width: 35vw;
    background: url("background-image.jpg") no-repeat center center;
    background-size: 100% 100%;
}

.logo{
    position: absolute;
    top: 30%;
    right: 0;
    left: 0;
    margin: 0;
    background: black;
    opacity: 0.6;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 135px;
}

.logo > img {
    height: 100px;
}

.odin-text{
    font-family: "norse-bold";
    font-size: 75px;
}

/*
formatting for the form body 
that is adjacent to the sidebar
*/

#form_body{
    margin: 0;
    width: 65vw;
    background-color: #F9FAFB;
}

.top-text {
    height: 100px;
    width: 66%;
    margin: 75px 30px 55px;
    text-align: start;
    font-weight: 600;
}

.bottom-text {
    height: 100px;
    width: auto;
    margin: 5px 30px 30px;
    text-align: start;
}

a {
    color: #596D48;
    text-decoration: none;
}

/*
Formatting for all form controls 
*/



input {
    border: 2px solid #e5e7eb;
    border-radius: 5px;
    padding: 5px;
    width: min(300px, 100%);
}

label {
    margin-bottom: 5px;
    font-size: 15px;
    opacity: 0.6;
}

button {
    background-color: #596D48;
    border-radius: 5px;
    border: none;
    padding: 14px 44px;
    color: white;
    margin: 30px;
    font-weight: bold;
    font-size: medium;
}

.input-color {
    background-color: #FFFFFF;
    padding: 20px 30px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.input-color div {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.input-color p {
    margin-top: 15px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
}

label[for="psswrd_first"]::after, label[for="psswrd_second"]::after {
    content: "*";
    font-weight: bold;
}




